{% extends "base.twig" %}
{% block styles %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/starter-template.css" rel="stylesheet">
{% endblock %}
{% block navigation %}
    <li><a href="\main\logout">Выход</a></li>
    <li><a href="\image">Загрузить файл</a></li>
    <li><a href="\users">Список пользователей</a></li>
    <li class="active"><a href="\files">Список файлов</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Название файла</th>
            <th>Фотография</th>
            <th>Действия</th>
        </tr>
        {% for file in data['files'] %}
            <tr>
                <td>{{file['filename']}}</td>
                <td><img src="{{file['filename']}}" alt=""></td>
                <td>
                    <a href="\files\delete\{{file['id']}}">Удалить файл пользователя</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</div><!-- /.container -->
{% endblock %}