{% extends "base.twig" %}
{% block styles %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/starter-template.css" rel="stylesheet">
{% endblock %}

{% block navigation %}
    <li><a href="\">Авторизация</a></li>
    <li class="active"><a href="\register">Регистрация</a></li>
    <li><a href="\users">Список пользователей</a></li>
    <li><a href="\files">Список файлов</a></li>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="form-container">
            <form class="form-horizontal" action="\register\reg" method="post">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Логин</label>
                    <div class="col-sm-10">
                        <input type="text" name="login" class="form-control" id="inputEmail3" placeholder="Логин">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Пароль">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword4"  class="col-sm-2 control-label">Пароль (Повтор)</label>
                    <div class="col-sm-10">
                        <input type="password" name="password2" class="form-control" id="inputPassword4" placeholder="Пароль">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                        <br><br>
                        Зарегистрированы? <a href="\">Авторизируйтесь</a>
                    </div>
                </div>
            </form>
        </div>

    </div><!-- /.container -->
{% endblock %}